.checkmark {
  width: 80px;
  height: 80px;
  display: block;
  margin: 10% auto;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 0;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4caf50;
  fill: none;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  stroke-width: 2;
  stroke: #4caf50;
  stroke-miterlimit: 10;
  fill: none;
  animation: stroke .3s cubic-bezier(.65,.05,.36,1) .4s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}